! Xft settings
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgba
Xft.dpi: 96

! Visual bell ftw
*visualBell:       true
*menuBackground:   #202020
*menuForeground:   #999999


! emacs 
Emacs.FontBackend: xft
Emacs.font: DejaVu Sans Mono-10

! urxvt settings
URxvt*background: #1B1B1B
URxvt*foreground: #ababab
URxvt*font: xft:Inconsolata:size=13
URxvt*boldFont: xft:Inconsolata:bold:size=13
URxvt*saveLines: 12000
URxvt*scrollBar: false
URxvt*scrollstyle: rxvt

! Clickable URLs
URxvt*perl-ext-common : default,matcher
URxvt*urlLauncher     : /usr/local/bin/firefox3
URxvt*matcher.button  : 1 
Urxvt*colorUL: #86a2b


! black
URxvt*color0  : #202020
URxvt*color8  : #555753
! red
URxvt*color1  : #bb4444
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4e9a06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #bbbb44
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465a4
URxvt*color12 : #729fcf
! magenta
URxvt*color5  : #bb44bb
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #44bbbb
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #999999
URxvt*color15 : #EEEEEC

